<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


<div class="header-container">
    <h1>Employees</h1>
    <a th:href="@{/employees/new}" class="add-employee-btn">
        <span class="material-icons">person_add</span> Add Employee
    </a>
</div>

<table>
    <thead>
    <tr>
        <th>Emp: ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Dept. #ID</th>
        <th>Pos. #ID</th>
        <th>Profile</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="emp : ${empList}">
        <td th:text="${emp.id}"></td>
        <td th:text="${emp.firstName}"></td>
        <td th:text="${emp.lastName}"></td>
        <td th:text="${emp.email}"></td>
        <td th:text="${emp.departmentId}"></td>
        <td th:text="${emp.positionId}"></td>
        <td>
            <img th:src="@{${emp.photoUrl}}" alt="Profile" class="profile-img"/>
        </td>
        <td>
            <a th:href="@{'/employees/edit/'+${emp.id}}"><span class="material-icons">edit</span></a>
            <a th:href="@{'/employees/delete/'+${emp.id}}"><span class="material-icons">delete</span></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>